<p>Gas Mix calculator is a free tool for helping performance enthusiasts accurately track the fuel mix in their vehicle</p>
<p>I'd love to get feedback from people on how this can be improved, so head over to our <%= link_to "Contact", contact_path %> page and let me know your thoughts</p>
